.footer {
  background-color: $secondary-color;
  min-height: 100px;
  color: $second-text-color;
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  height: 10vh;

  .logo {
    padding-top: 30px;
  }

  .socials {
    display: flex;
    flex-direction: row;
    margin-right: 20px;

    svg {
      width: 46px;
      height: 46px;
      padding: 10px;
      margin-top: 30px;
    }
  }
}
