.Icons {
  background-color: $primary-color;
  // min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: $font;
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    .input {
      border-radius: 5px;
      padding: 5px 10px;
    }

    button {
      margin-top: 20px;
      background-color: $primary-color;
      color: $text-color;
      border-color: $primary-color;
    }
  }
  .container {
    text-align: center;
    margin-top: 30px;
    .row {
      padding-top: 70px;
      .col {
        i {
          color: $text-color;
          &.active {
            color: $element-color;
          }
        }
      }
    }
  }
  .see-recipes {
    margin-top: 20px;
    button {
      padding: 10px 100px;
      background-color: $element-color;
      border-color: $element-color;
      border-radius: 50px;
      color: white;
    }
  }
}
