.Recipe {
  color: $text-color;
  padding: 20px;
  font-family: $font;
  display: flex;

  justify-content: space-evenly;

  h2 {
    color: $element-color;
    font-size: 20px;
  }
  h1 {
    color: $element-color;
    font-size: 27px;
  }
  p {
    font-size: 16px;
    justify-content: left;
    text-align: justify;
    text-justify: inter-word;
    padding: 10x;
  }
  .Image {
    width: 700px;
    height: 750px;
    float: right;
    display: flex;
    align-items: flex-end;
    padding: 20px;
  }
  .Ingredients {
    padding: 20px;
    .Text {
      padding-top: 100px;
    }
  }

  .Instructions {
    width: 400px;
    padding-top: 160px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  .grid-item {
    img {
      max-width: 100%;
    }
  }
}
