.Recipe {
  background-color: #404e5a;
  color: #748a9d;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;

  h2 {
    color: #dc31cb;
    font-size: 20px;
  }
  h1 {
    color: #dc31cb;
    font-size: 27px;
  }
  p {
    font-size: 16px;
    justify-content: left;
    text-align: justify;
    text-justify: inter-word;
    padding: 10x;
  }
  .Image {
    width: 700px;
    height: 850px;
    float: right;
    display: flex;
    align-items: flex-end;
    padding: 20px;
  }
  .Ingredients {
    float: left;
    padding: 20px;
  }
  .Instructions {
    width: 400px;
  }
}
