.Suggestions {
  color: $main-text-color;
  padding: 20px;
  font-family: $font;

  .Box {
    background-color: $secondary-color;
    height: 120px;
  }
  img {
    padding-bottom: 0px;
  }
  .name {
    color: #a6bcd0;
    line-height: 120px;
    padding-left: 20px;
  }
  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 20%;
    font-family: "Monoton", cursive;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $primary-color;

    .ops {
      font-size: 100px;
    }
    .number {
      font-size: 200px;
      margin-left: 30%;
      margin-bottom: 0;
      color: $element-color;
    }
    .notfound {
      font-size: 50px;
      margin-left: 20%;
    }
    .failure {
      font-size: 30px;
      padding-top: 80px;
      padding-left: 50px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  .grid-item {
    img {
      max-width: 100%;
    }
  }
}
