.Suggestions {
  background-color: $primary-color;
  color: $text-color;
  padding: 20px;
  font-family: $font;
  height: 100%;
  .Box {
    background-color: $secondary-color;
    height: 120px;
  }
  img {
    padding-bottom: 20px;
  }
  p {
    color: #a6bcd0;
    line-height: 120px;
    padding-left: 20px;
  }
}
