$primary-color: #404e5a;
$secondary-color: #4e5d6a;
$element-color: #dc31cb;
$second-element-color: #b622a7;
$main-text-color: #a6bcd0;
$second-text-color: #748a9d;

$text-color: #748a9d;

$font: "Karla", sans-serif;
