$primary-color: #404e5a;
$secondary-color: #4e5d6a;
// $element-color: #00ff99;
$element-color: #99bbff;
// $element-color: #ffff00;

$second-element-color: #ffcc00;
$main-text-color: #a6bcd0;
$second-text-color: #748a9d;

$text-color: #748a9d;

$font: "Karla", sans-serif;
